@import "tailwindcss";

@theme{
  --font-display: ;
  --color-primary: ;
  --color-secondary: ;
}

@layer base{
body{
  html {
    font-family: var(--font-display);
  }
  background-color: aliceblue;
  overflow-x: hidden;
}
}

